:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #4d4d51;
}
.container{
  width: 500px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
}
.header{
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 9px;
}
.menu{
  /* background-color: #fd7f84; */
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.menu img{
  height: 60px;
  width: 60px;
}
.menu  {
  display: flex;
  align-items: center;
}
.menu__item{
  width: 70px;
  height: 40px;
  background-color: #3f454d;
  padding: 9px;
  font-weight: bold;
}
.Y{
  background-color: #fbbe28;
}
.P{
  background-color: pink;
}
.B{
  background-color: skyblue;
}
.content{
  width: 100%;
  height: 65%;
  overflow-y: scroll;
}
.content__item{
  width: 95%;
  margin: auto;
  height: 13%;
  margin-top: 7px;
  border-radius: 5px;
  background-color: rgb(252, 225, 242);
  display: flex;
}
.content img{
  height: 80%;
  width: 55px;
  margin: 5px 7px;
}
.item__img{
  width: 15%;
  height: 100%;
}

.item__description{
  width: 85%;
  height: 100%;
  padding: 10px;
  font-weight: bold;
}