body{
    height: 100vh;
    background: url(img/BG.png) no-repeat center;
    background-size: cover;
    margin: 0;
}                           
img{
    width: 100px;
    height: 90px;
   
}
.star{
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    animation-fill-mode: forwards;
  }

  @keyframes fadeout {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
