*{
    margin: 0;
    box-sizing: border-box;
}    
body{ 
    
    background: url('img/background.png') ;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
}
.startBtn{
    background-color: coral;
    border: none;
    color: black;
    width: 150px;
    height: 90px;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
}
.score{
    font-style: italic;
    width: 200px;
    height: 60px;
    font-weight: bold;
    font-size: 35px;
    border-radius: 20px;
    margin-top: 15px;

}
.header{
    margin-top: 30px;
    /* background-color: blueviolet; */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 2px solid black;

}
.gameView{
    /* background-color: aqua; */
    border: 2px solid black;
    width: 100%;
    height: 55%;
    position: relative;
    margin-top: 180px;
    overflow-y: hidden;
}
img{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    }