.secondBG,
.thirdBG,
body{
    height: 100vh;
    background: url(img/purple.png) no-repeat center;
    background-size: cover;
    margin: 0;
}         

img{
    width: 100px;
    height: 90px;
   
}
.star{
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-animation: fadeout 1s; /* Safari and Chrome */
    animation-fill-mode: forwards;
  }




  @keyframes fadeout {
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
  @-webkit-keyframes fadeout { /* Safari and Chrome */
      from {
          opacity: 1;
      }
      to {
          opacity: 0;
      }
  }
.header{
    background-color: rgba(247, 212, 212, 0.276);
    height: 30%;
    text-align: center;
}
.otherBtn{
    font-weight: bold;
    top: 50px;
    border: none;
    background: transparent;
    position: relative;
}
.gameView{
    background-color: rgba(0, 0, 0, 0.944);
    height: 50%;
    width: 580px;
    margin: auto; 
    position: relative;
    text-align: center;
    opacity: 1;
    border-radius: 50%;
    transition: all 400ms ease-in;
    z-index: 2;

}

.gameView:hover{
    opacity:0.4;
}

 .gameImg{
    border-radius: 50%;
    z-index:-1;
    width: 90%;
    height:90%;
    opacity: 0.5;  
    min-width: 400px;
    min-height: 400px;
    margin-top: 25px;
    position: relative;

}
.bottom{
    /* background-color: rgba(247, 212, 212, 0.276); */
    height: 20%;

}



.startAlert{
    position: absolute;
    z-index: 1;
    font-size: 70px;
    font-weight: bold;
    transform: translateX(-50%);
    top: 50%;
    left: 50%;
    color: rgb(255, 255, 255);
}
.secondBG{
    transition: all 400ms ease-in;
}
.thirdBG{
    transition: all 400ms ease-in;
}